{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    {% include "includes/header.html.twig" %}

    <div>
        Username : {{ user.username }}
    </div>

{% endblock %}