{% extends 'base.html.twig' %}

{% block title %}Posts Creation{% endblock %}

{% block body %}

    {% include "includes/header.html.twig" %}

    <div>
        {{ form_start(form) }}
        {{ form_row(form.title) }}<br>
        {{ form_row(form.content) }}
        <button type="submit">Send</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
